@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  background: linear-gradient(236.85deg, #041832 27.26%, #3468A7 96.03%);
  font-family: 'Poppins', sans-serif;
}

.container {
  background: linear-gradient(236.85deg, #62CB59 27.26%, #045210 96.03%);
  color: #1C1C1C
  margin: 64px;
  border-radius: 20px;
  box-shadow: 6px 6px 6px #0E1D2F;
  padding: 64px;
}

.cabecalho {
  display: flex;
  justify-content: space-between;
}

.perfil {
  display: flex; 
}

.perfil-foto {
  border-radius: 460px;
  max-heigth: 160px;
  size: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: solid
}

.titulo {
  margin-left: 16px;
}

.titulo h1 {
  font-weigth: 700;
  font-size: 36px;
}

.titulo h3 {
  font-weigth: 400;
  font-size: 24px;
}

.tema button {
  align-self: flex-end;
  font-sixe: 24px;
  font-weigth: 400;
  padding: 8px 16px;
  background: #ECF4FF;
  border-radius: 100px;
  
}

.projetos {
  display: flex;
  flex-direction: column;
  background: linear-gradient(230.65deg, #BEFD97 27.49%, #ffffff 83.19%);
  margin-top: 32px;
  padding: 32px;
  box-shadow: 2px 2px 4px rgba(16, 16, 16, 0.42);
  border-radius: 20px;
}

.projetos-titulo {
  list-style: none;
  font-weigth: 700;
  font-size: 40px;
}
.descrição {
  list-style: none;
  font-size: 24px;
  font-weigth: 400;
  
}
.projetos-item {
  list-style-type: none;
  font-weigth: 400;
  font-size: 30px;
  line-height: 48px;
  color: #11290F;
}

.projetos-item a {
  color: #1C1C1C;
  text-decoration: none
}

.dark {
  background: linear-gradient(236.85deg, #375B86 27.26%, #6B87A9 96.03%);
}

.dark .container {
  background: #333439;
  color: #F6F6F6;
}

.dark .projetos {
  color: #1C1C1C;
}

.dark .tema button {
  background: #1C1C1C;
  color: #FFFFFF;
  border: 2px solid #f7f7f7
}